<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bailitop.gallery">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".ui.activity.TakePhotoActivity"
            android:theme="@style/TakePhotoStyle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GalleryTheme" />
        <activity
            android:name=".ui.activity.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GalleryTheme" />
    </application>

</manifest>