<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bailitop.gallery">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!--8.0 手机 透明的 Activity 不能在 manifest 中固定方向-->
        <activity android:name=".ui.activity.TakePhotoActivity"
            android:theme="@style/TakePhotoStyle"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".ui.activity.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GalleryTheme"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".ui.activity.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GalleryTheme"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
    </application>

</manifest>